<div class="roboto-font" id="app">
    <slide noOverlay :isOpen="isSlideOpen" class="slide-fixed">
        <a href="#home" class="doc-index-lvl1">Cool Emoji Picker</a>
        <a href="#requirements" class="doc-index-lvl2">Requirements</a>
        <a href="#getting-started" class="doc-index-lvl2">Getting Started</a>
        <a href="#coolpicker-docs" class="doc-index-lvl2">CoolPicker Docs</a>
        <a href="#cooltextarea-docs" class="doc-index-lvl2">CoolTextArea Docs</a>
        <a href="#emoji-data-index" class="doc-index-lvl2">Emoji Data Index</a>
        <a href="#emoji-langs" class="doc-index-lvl2">Emoji Langs</a>
        <a href="#credits" class="doc-index-lvl2">Credits</a>
        <a href="#roadmap" class="doc-index-lvl2">Roadmap</a>
    </slide>
    <div class="app container">
        <div class="header1 margin-header" id="home">
            <span>Cool Emoji Picker</span>
        </div>

        <div class="text-center container margin-top margin-bottom">
            <div class="row"><strong>Cool Emoji Picker</strong> was created to be a developer-friendly library for anyone who 
                wants to add emojis support in their Vue app using the Twemoji (Twitter) arts. It comes with two components:
            </div>
            <div class="row">
                <strong>CoolPicker</strong> and <strong>CoolTextArea</strong>.
            </div>
        </div>

        <div class="container border-bottom"></div>

        <div class="text-center container margin-top margin-bottom">
            <strong>CoolPicker</strong> is meant to be a plug-n-play emoji picker only. It emit some events like @emojiUnicodeAdded (check component docs for more info)
            so you can catch the selected emoji selected and perform some action.

            <coolpicker 
                class="bg-cream margin-bottom margin-top b-rounded"
                :emojiData="emojiDataAll" 
                :emojiGroups="emojiGroups" 
                :skinsSelection="false"
                :searchEmojisFeat="true"
                :appendToBody="true"
                searchEmojiPlaceholder="Search here."
                searchEmojiNotFound="Emojis not found."></coolpicker>
        </div>

        <div class="container border-bottom"></div>

        <div class="text-center container margin-top margin-bottom">
            <strong>CoolTextArea</strong> is meant to be a plug-n-play emoji picker + textarea which provides string 
            sanitization for HTML tags and emoji support.

            <cooltextarea class="margin-top text-justify" 
                :content.sync="content" 
                :emojiData="emojiDataAll" 
                :emojiGroups="emojiGroups" 
                :skinsSelection="true"
                :enableSendBtn="true"
                @enterKey="onEnterKey"
                :recentEmojisFeat="true"
                recentEmojisStorage="none"
                :searchEmojisFeat="true"
                :appendToBody="true"
                ref="cooltextareaSend"></cooltextarea>
            <div class="text-center margin-bottom">
                Tip: You can send any message above to try the component!
            </div>

            <div id="messages-sent">
                <div class="header2">Messages Sent (max. 5):</div>
                <div class="code-block-cream text-wrap margin-bottom padding-all"> Send your message here! <img class="emoji" draggable="false" alt="😀" src="https://twemoji.maxcdn.com/2/72x72/1f600.png"><img class="emoji" draggable="false" alt="🤔" src="https://twemoji.maxcdn.com/2/72x72/1f914.png">
                </div>
            </div>

            <div class="container border-bottom"></div>

            <div class="row margin-top header2">
                CoolTextArea presents the emojis in their Twemoji IMG:
            </div>
            <div class="row code-block-cream margin-top">
                &lt;strong&gt;This is a CoolTextArea&lt;/strong&gt;
                </br>
                <img class="emoji" draggable="false" alt="😄" src="https://twemoji.maxcdn.com/2/72x72/1f604.png">
                </br>
                indeed!
            </div>
            <div class="row margin-top header2">
                And outputs with sanitization (emoji IMG conversion to unicode):
            </div>
            <div class="row code-block margin-top">
                &lt;strong&gt;This is a CoolTextArea&lt;/strong&gt; \n 😄 \n indeed!
            </div>
        </div>
    
        <div class="container border-bottom"></div>
        
        <div class="text-center container margin-top margin-bottom">
            <strong>Cool Emoji Picker</strong> emoji picker uses 
            <a href="http://www.unicode.org/emoji/charts-12.0/">Emoji Unicode 12</a> 
            (latest emoji spec, from 2019, which includes skins [tones, hair and diversity]) as its base, 
            and apply some trimming on the emoji list for better optimization of component size. 
            Also, for the sake of your bundle size, you can opt if you want all 
            emoji groups, or only smileys, or even only smileys and foods! The choice is yours!
        </div>
    
        <div class="header2 container margin-top">One Emoji Group</div>
        <cooltextarea class="margin-top container" 
            :content="content" 
            :emojiData="emojiDataOneCollection"
            :emojiGroups="emojiGroups"
            componentColor="forest"
            :searchEmojisFeat="true"></cooltextarea>
    
        <div class="header2 container margin-top">Two Emoji Groups</div>
        <cooltextarea class="margin-top container" 
            :content="content" 
            :emojiData="emojiDataTwoCollections"
            :emojiGroups="emojiGroups"
            componentColor="cherry"
            :searchEmojisFeat="true"></cooltextarea>
    
        <div class="header2 container margin-top">Three Emoji Groups</div>
        <cooltextarea class="margin-top container" 
            :content="content" 
            :emojiData="emojiDataThreeCollections"
            :emojiGroups="emojiGroups"
            componentColor="ocean"
            :searchEmojisFeat="true"></cooltextarea>
    
        <div class="header2 container margin-top">Four Emoji Groups</div>
        <cooltextarea class="margin-top container" 
            :content="content" 
            :emojiData="emojiDataFourCollections"
            :emojiGroups="emojiGroups"
            componentColor="sun"
            :searchEmojisFeat="true"></cooltextarea>
    
        <div class="header1 row margin-top margin-bottom" id="requirements">
            Requirements:
        </div>
        <div class="container margin-bottom">- Cool Emoji Picker is made with Vue, for Vue (for the time being).</div>
        <div class="container margin-bottom">
            - For CoolPicker component search feature to work your browser needs to support 
            <a href="https://caniuse.com/#feat=es6-string-includes">String Includes</a>.
        </div>
        <div class="container margin-bottom">
            - For CoolTextArea component layouting proportions correctly 
            render your browser needs to support <a href="https://caniuse.com/#feat=flexbox">CSS Flexbox</a>.
        </div>

        <div class="container margin-bottom">
            - In most cases <a href="https://polyfill.io/v2/docs/">Polyfill.io</a> can ensure support for older browsers.
        </div>
       
        <div class="header1 row margin-top margin-bottom" id="getting-started">
            Getting Started
        </div>
        <div class="row col-12">
            <strong class="row margin-top">- To install Cool Emoji Picker on your Vue project you can run, for NPM:</strong>
            <div class="row code-block padding-all margin-bottom">npm install cool-emoji-picker</div>
    
            <strong class="row margin-top">- For Yarn:</strong>
            <div class="row code-block padding-all margin-bottom">yarn add cool-emoji-picker</div>
            
            <strong class="row margin-top">- To import CoolPicker on your Vue project you can do as follows:</strong>
            <div class="row code-block padding-all margin-bottom text-wrap text-break">
                JAVASCRIPT:
                import { CoolPicker } from 'cool-emoji-picker';
                import EmojiData from 'cool-emoji-picker/src/emoji-data/{LANG}/emoji-all-groups.json';
                import EmojiDataAnimalsNature from 'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-animals-nature.json';
                import EmojiDataFoodDrink from 'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-food-drink.json';
                import EmojiGroups from 'cool-emoji-picker/src/emoji-data/emoji-groups.json';
    
                export default {
                    name: 'App',
                    components: { 'coolpicker': CoolPicker },
                    computed: {
                        emojiDataAll() {
                            return EmojiData;
                        },
                        emojiDataTwoCollections() {
                            const emojiData = [];
                            emojiData.push(EmojiDataAnimalsNature);
                            emojiData.push(EmojiDataFoodDrink);
                            return emojiData;
                        },
                        emojiGroups() {
                            return EmojiGroups;
                        }
                    }
                }
    
                TEMPLATE:
                // Emoji picker component using all emojis
                &lt;coolpicker
                    :emojiData="emojiDataAll" 
                    :emojiGroups="emojiGroups" 
                    :skinsSelection="true"
                    @emojiUnicodeAdded="yourMethodToCatchEmojiUnicode"
                    @emojiImgAdded="yourMethodToCatchEmojiImg" &gt;&lt;/coolpicker&gt;

                // Emoji picker component using only two emoji groups
                &lt;coolpicker
                    :emojiData="emojiDataTwoCollections" 
                    :emojiGroups="emojiGroups" 
                    :skinsSelection="true"
                    @emojiUnicodeAdded="yourMethodToCatchEmojiUnicode"
                    @emojiImgAdded="yourMethodToCatchEmojiImg" &gt;&lt;/coolpicker&gt;
            </div>

            <strong class="row margin-top">- To import CoolTextArea on your Vue project you can do as follows:</strong>
            <div class="row code-block padding-all margin-bottom text-wrap text-break">
                JAVASCRIPT:
                import { CoolTextArea } from 'cool-emoji-picker';
                import EmojiData from 'cool-emoji-picker/src/emoji-data/emoji-all-groups.json';
                import EmojiGroups from 'cool-emoji-picker/src/emoji-data/emoji-groups.json';
    
                export default {
                    name: 'App',
                    components: { 'cooltextarea': CoolTextarea },
                    computed: {
                        emojiDataAll() {
                            return EmojiData;
                        },
                        emojiGroups() {
                            return EmojiGroups;
                        }
                    }
                }
    
                TEMPLATE:
                &lt;cooltextarea
                    :content.sync="content" 
                    :emojiData="emojiDataAll" 
                    :emojiGroups="emojiGroups"
                    @enterKey="onEnterKey"
                    ref="cooltextareaRef"&gt;&lt;/cooltextarea&gt;
            </div>
    
            <div class="row margin-top margin-bottom">
                These are basic examples for importing Cool Emoji Picker components in a Vue project.
            </div>
        </div>
        
        <div class="header1  row margin-top margin-bottom" id="coolpicker-docs">
            CoolPicker Docs
        </div>

        <div class="header2 text-center row margin-top margin-bottom">
            CoolPicker - Component Attributes
        </div>

        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Type</th>
                    <th>Valid Values</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>pickerWidth</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Define the emoji picker width (in pixels).
                        Default: '250'.
                    </td>
                </tr>
                <tr>
                    <td>pickerMaxHeight</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Define the emoji picker max height (in pixels).
                        Default: '200'.
                    </td>
                </tr>
                <tr>
                    <td>appendToBody</td>
                    <td>Boolean</td> 
                    <td>True / False</td>
                    <td class="table-description">
                        Define the emoji picker bind to body if true; or to parent element if false.
                        Default: false.
                    </td>
                </tr>
                <tr>
                    <td>triggerType</td>
                    <td>Number</td> 
                    <td>'click' and 'hover'</td>
                    <td class="table-description">
                        Define the emoji picker trigger type.
                        Default: 'click'.
                    </td>
                </tr>
                <tr>
                    <td>emojiData</td>
                    <td>Array</td> 
                    <td>Array with the Specified Structure</td>
                    <td class="table-description">
                        This is the array of emojis which is supplied by 
                        this library, like exemplified in Emoji Data Index. 
                        Default: [].
                    </td>
                </tr>
                <tr>
                    <td>emojiGroups</td>
                    <td>Array</td> 
                    <td>Array with the Specified Structure</td>
                    <td class="table-description">
                        This is the array of emoji groups which is supplied by 
                        this library, like exemplified in Emoji Data Index. Default: [].
                    </td>
                </tr>
                <tr>
                    <td>skinsSelection</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable skins selection in the emoji picker. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojisFeat</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable 
                        recent emojis feature in the emoji picker. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojisStorage</td>
                    <td>String</td> 
                    <td>'local', 'session', 'none'</td>
                    <td class="table-description">
                        Sets the type of storage for recent emojis in a browser.
                        'local': LocalStorage; 'session': SessionStorage; 'none': Disable storage. 
                        Default: 'none'.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojiStorageName</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Sets the name of the browser storage object, if enabled. 
                        Default: 'cep-recent-emojis'.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojiLimit</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Sets the maximum amount of recent emojis.
                        Default: 12.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojisFeat</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable 
                        search emojis feature in the emoji picker. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojiPlaceholder</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Define the search input placeholder. 
                        Default: 'Search emojis.'.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojiNotFound</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Define the label when there are no emojis found.
                        Default: 'No emojis found.'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiPath</td>
                    <td>String</td> 
                    <td>Any String URL</td>
                    <td class="table-description">
                        This is a variable to define where are stored the  
                        emoji arts static resources. Default: 'https://twemoji.maxcdn.com/2/'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiExtension</td>
                    <td>String</td> 
                    <td>'.png', '.svg', '.jpg', '.jpeg', '.ico'</td>
                    <td class="table-description">
                        This is a variable to define emoji arts static resources extension. 
                        Note: This property only changes the extension, the filename will always be the codepoint for the emoji Unicode.
                        Default: '.png'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiFolder</td>
                    <td>String</td> 
                    <td>Any String folder name</td>
                    <td class="table-description">
                        This is a variable to define the folder 
                        where are stored the emoji arts static resources in the 'twemojiPath'.
                        Default: '72x72'.
                    </td>
                </tr>
                <tr>
                    <td>btnEmojiClasses</td>
                    <td>Array of Strings</td> 
                    <td>Array of Strings (CSS classes)</td>
                    <td class="table-description">
                        This is an array of CSS classes for those who wish 
                        to further customize the style of the 
                        emoji button of the component.
                        Default: [].
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="header2 text-center row margin-top margin-bottom">
            CoolPicker - Component Events
        </div>
        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Parameter</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>emojiUnicodeAdded</td>
                    <td>emojiUnicode</td>
                    <td class="table-description">
                        This event fires everytime the user selects an emoji in the picker, 
                        and its parameter is the emoji in its Unicode format.
                    </td>
                </tr>
                <tr>
                    <td>emojiImgAdded</td>
                    <td>emojiImgTag</td>
                    <td class="table-description">
                        This event fires everytime the user selects an emoji in the picker, 
                        and its parameter is the emoji HTML IMG tag.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="header1 row margin-top margin-bottom" id="cooltextarea-docs">
            CoolTextArea Docs
        </div>

        <div class="header2 text-center row margin-top margin-bottom">
            CoolTextArea - Component Attributes
        </div>

        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Type</th>
                    <th>Valid Values</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>pickerWidth</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Define the emoji picker width (in pixels).
                        Default: '250'.
                    </td>
                </tr>
                <tr>
                    <td>pickerMaxHeight</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Define the emoji picker max height (in pixels).
                        Default: '200'.
                    </td>
                </tr>
                <tr>
                    <td>appendToBody</td>
                    <td>Boolean</td> 
                    <td>True / False</td>
                    <td class="table-description">
                        Define the emoji picker bind to body if true; or to parent element if false.
                        Default: false.
                    </td>
                </tr>
                <tr>
                    <td>triggerType</td>
                    <td>Number</td> 
                    <td>'click' and 'hover'</td>
                    <td class="table-description">
                        Define the emoji picker trigger type.
                        Default: 'click'.
                    </td>
                </tr>
                <tr>
                    <td>emojiData</td>
                    <td>Array</td> 
                    <td>Array with the Specified Structure</td>
                    <td class="table-description">
                        This is the array of emojis which is supplied by 
                        this library, like exemplified in Emoji Data Index. 
                        Default: [].
                    </td>
                </tr>
                <tr>
                    <td>emojiGroups</td>
                    <td>Array</td> 
                    <td>Array with the Specified Structure</td>
                    <td class="table-description">
                        This is the array of emoji groups which is supplied by 
                        this library, like exemplified in Emoji Data Index. Default: [].
                    </td>
                </tr>
                <tr>
                    <td>skinsSelection</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable skins selection in the emoji picker. Default: false.
                    </td>
                </tr>
                 <tr>
                    <td>recentEmojisFeat</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable 
                        recent emojis feature in the emoji picker. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojisStorage</td>
                    <td>String</td> 
                    <td>'local', 'session', 'none'</td>
                    <td class="table-description">
                        Sets the type of storage for recent emojis in a browser.
                        'local': LocalStorage; 'session': SessionStorage; 'none': Disable storage. 
                        Default: 'none'.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojiStorageName</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Sets the name of the browser storage object, if enabled. 
                        Default: 'cep-recent-emojis'.
                    </td>
                </tr>
                <tr>
                    <td>recentEmojiLimit</td>
                    <td>Number</td> 
                    <td>Any Number</td>
                    <td class="table-description">
                        Sets the maximum amount of recent emojis.
                        Default: 12.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojisFeat</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or disable 
                        search emojis feature in the emoji picker. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojiPlaceholder</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Define the search input placeholder. 
                        Default: 'Search emojis.'.
                    </td>
                </tr>
                <tr>
                    <td>searchEmojiNotFound</td>
                    <td>String</td> 
                    <td>Any String</td>
                    <td class="table-description">
                        Define the label when there are no emojis found.
                        Default: 'No emojis found.'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiPath</td>
                    <td>String</td> 
                    <td>Any String URL</td>
                    <td class="table-description">
                        This is a variable to define where are stored the  
                        emoji arts static resources. Default: 'https://twemoji.maxcdn.com/2/'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiExtension</td>
                    <td>String</td> 
                    <td>'.png', '.svg', '.jpg', '.jpeg', '.ico'</td>
                    <td class="table-description">
                        This is a variable to define emoji arts static resources extension. 
                        Note: This property only changes the extension, the filename will always be the codepoint for the emoji Unicode.
                        Default: '.png'.
                    </td>
                </tr>
                <tr>
                    <td>twemojiFolder</td>
                    <td>String</td> 
                    <td>Any String folder name</td>
                    <td class="table-description">
                        This is a variable to define the folder 
                        where are stored the emoji arts static resources in the 'twemojiPath'.
                        Default: '72x72'.
                    </td>
                </tr>
                <tr>
                    <td>btnEmojiClasses</td>
                    <td>Array of Strings</td> 
                    <td>Array of Strings (CSS classes)</td>
                    <td class="table-description">
                        This is an array of CSS classes for those who wish 
                        to further customize the style of the 
                        emoji button of the component.
                        Default: [].
                    </td>
                </tr>
                <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                <tr>
                    <td>content</td>
                    <td>String</td>
                    <td>Any String Variable</td> 
                    <td class="table-description">
                        This is the content variable which 
                        will be the output of the textarea with the emoji art IMG tags
                        converted to its correspondent Unicode.
                    </td>
                </tr>
                <tr>
                    <td>enableSendBtn</td>
                    <td>Boolean</td> 
                    <td>true / false</td>
                    <td class="table-description">
                        This is a boolean to enable or 
                        disable the send button. Default: false.
                    </td>
                </tr>
                <tr>
                    <td>componentColor</td>
                    <td>String</td> 
                    <td>'cream', 'cherry', 'forest', 'ocean', 'sun'</td>
                    <td class="table-description">
                        This is a variable to define the component color. Default: 'cream'.
                    </td>
                </tr>
                <tr>
                    <td>outerDivClasses</td>
                    <td>Array of Strings</td> 
                    <td>Array of Strings (CSS classes)</td>
                    <td class="table-description">
                        This is an array of CSS classes for those who wish 
                        to further customize the style of the 
                        outer div of the component (which encompasses emoji picker and textarea).
                        Default: [].
                    </td>
                </tr>
                <tr>
                    <td>cooltextAreaClasses</td>
                    <td>Array of Strings</td> 
                    <td>Array of Strings (CSS classes)</td>
                    <td class="table-description">
                        This is an array of CSS classes for those who wish 
                        to further customize the style of the 
                        textarea of the component.
                        Default: [].
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="header2 text-center row margin-top margin-bottom">
            CoolTextArea - Component Events
        </div>
        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Parameter</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>contentChanged</td>
                    <td>None</td>
                    <td class="table-description">
                        This event fires everytime the textarea content is updated.
                    </td>
                </tr>
                <tr>
                    <td>enterKey</td>
                    <td>None</td>
                    <td class="table-description">
                        This event fires everytime the enter key is pressed or the send button is clicked, 
                        so that you can define what action is to be performed.
                    </td>
                </tr>
                <tr>
                    <td>emojiUnicodeAdded</td>
                    <td>emojiUnicode</td>
                    <td class="table-description">
                        This event fires everytime the user selects an emoji in the picker, 
                        and its parameter is the emoji in its Unicode format.
                    </td>
                </tr>
                <tr>
                    <td>emojiImgAdded</td>
                    <td>emojiImgTag</td>
                    <td class="table-description">
                        This event fires everytime the user selects an emoji in the picker, 
                        and its parameter is the emoji HTML IMG tag.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="header2 text-center  row margin-top margin-bottom" id="component-useful-methods">
            CoolTextarea - Useful Methods
        </div>
        <div class="container">
            These are useful methods of the component 
            you can access if you define a ref attribute to your component. 
            The method can then be accessed on your Vue parent component with:
            <div class="code-block padding-all">
                this.$refs.yourRefName.methodName
            </div>
        </div>
        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Parameter</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>addText(text)</td>
                    <td>text - String</td>
                    <td class="table-description">
                        This method adds a text to the textarea. The text parameter will 
                        then be sanitized and emojis Unicodes converted to emoji IMG 
                        arts from Twemoji.
                    </td>
                </tr>
                <tr>
                    <td>addTextBlur(text)</td>
                    <td>text - String</td>
                    <td class="table-description">
                        This method adds a text to the textarea. The text parameter will 
                        then be sanitized and emojis Unicodes converted to emoji IMG 
                        arts from Twemoji. It is the same as addText(text) method, 
                        but this one doesn't trigger smartphone keyboard.
                    </td>
                </tr>
                <tr>
                    <td>cleanText()</td>
                    <td>None</td>
                    <td class="table-description">
                        This method cleans the textarea.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="header1 row margin-top margin-bottom" id="emoji-data-index">
            Emoji Data Index
        </div>
        <div class="container">
            As seen in the example you will need, for the emoji picker to work, 
            to import an indexed list of emojis and emoji groups name (which is provided by this lib) and pass as a prop of the CoolTextArea/CoolPicker component.
            There is already different bundles so you are able to choose if you want your emoji picker to have all emojis or only smileys, or only smileys and objects, etc.
        </div>
        <div class="container margin-top">
            This library execute some optimizations excluding unnecessary fields (for this component) in an already indexed list of Unicode 
            emojis from the lib <a href="https://milesj.gitbook.io/emojibase">'emojibase'</a>. Below you have info for each emoji bundle and 
            import paths (<a href="#emoji-langs">where {LANG} is your preferred language</a>):
        </div>

        <table class="row col-12 table">
            <thead>
                <tr>
                    <th>Bundle Import Path</th>
                    <th>Size (aprox.)</th>
                    <th>GZIP Size (aprox.)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-all-groups.json'</td>
                    <td>129KB</td>
                    <td>26KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-smileys-emotion.json'</td>
                    <td>9KB</td>
                    <td>3KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-people-body.json'</td>
                    <td>57KB</td>
                    <td>10KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-symbols.json'</td>
                    <td>14KB</td>
                    <td>3KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-travel-places.json'</td>
                    <td>12KB</td>
                    <td>3KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-objects.json'</td>
                    <td>12KB</td>
                    <td>3KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-flags.json'</td>
                    <td>14KB</td>
                    <td>2KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-food-drink.json'</td>
                    <td>7KB</td>
                    <td>2KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-animals-nature.json'</td>
                    <td>7KB</td>
                    <td>2KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/{LANG}/emoji-group-activities.json'</td>
                    <td>6KB</td>
                    <td>2KB</td>
                </tr>
                <tr>
                    <td>'cool-emoji-picker/src/emoji-data/emoji-groups.json'</td>
                    <td>700B</td>
                    <td>460B</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            PS: You can provide your own emoji.json index file with a list of emoji Unicodes, 
            but you will need to follow the structure of the bundles generated by this library (like cool-emoji-picker/src/emoji-data/{LANG}/emoji-all-groups.json).
        </div>
        <div class="container">
            PS: You can provide your own emoji-groups.json index file with a list of emoji groups name, 
            but you will need to follow the structure of the bundle generated by this library (cool-emoji-picker/src/emoji-data/emoji-groups.json).
        </div>

        <div class="header1 row margin-top margin-bottom" id="emoji-langs">
            Emoji Langs
        </div>
        <div class="container">
            The emoji bundles comes with 19 emoji bundles for 19 different languages. Below is the list of available languages:
        </div>
        <div class="container">
            <strong class="row col-12">- emoji-data/zh - Chinese (zh)</strong>
            <strong class="row col-12">- emoji-data/zh-hant - Chinese, Traditional (zh-hant)</strong>
            <strong class="row col-12">- emoji-data/da - Danish (da)</strong>
            <strong class="row col-12">- emoji-data/nl - Dutch (nl)</strong>
            <strong class="row col-12">- emoji-data/en - English (en)</strong>
            <strong class="row col-12">- emoji-data/en-gb - English, Great Britain (en-gb)</strong>
            <strong class="row col-12">- emoji-data/fr - French (fr)</strong>
            <strong class="row col-12">- emoji-data/de - German (de)</strong>
            <strong class="row col-12">- emoji-data/it - Italian (it)</strong>
            <strong class="row col-12">- emoji-data/ja - Japanese (ja)</strong>
            <strong class="row col-12">- emoji-data/ko - Korean (ko)</strong>
            <strong class="row col-12">- emoji-data/ms - Malay (ms)</strong>
            <strong class="row col-12">- emoji-data/pl - Polish (pl)</strong>
            <strong class="row col-12">- emoji-data/pt - Portuguese (pt)</strong>
            <strong class="row col-12">- emoji-data/ru - Russian (ru)</strong>
            <strong class="row col-12">- emoji-data/es - Spanish (es)</strong>
            <strong class="row col-12">- emoji-data/es-mx - Spanish, Mexico (es-mx)</strong>
            <strong class="row col-12">- emoji-data/sv - Swedish (sv)</strong>
            <strong class="row col-12">- emoji-data/th - Thai (th)</strong>
        </div>

        <div class="header1 row margin-top margin-bottom" id="credits">
            Credits
        </div>
        <div class="container margin-bottom">
            - Thanks to <a href="https://twitter.com/">Twitter</a> for the emoji arts used in this component from their lib 
            <a href="https://github.com/twitter/twemoji">Twemoji</a>.
        </div>
        <div class="container margin-bottom">
            - Thanks to <a href="https://milesj.gitbook.io/emojibase">Emojibase</a> for their JSON emoji list builded with base on latest Unicode.
        </div>
        <div class="container margin-bottom">
            - Also thanks to VueTooltip (by extension, PopperJS) which is other lib used in this component.
        </div>

        <div class="header1 row margin-top margin-bottom" id="roadmap">
            Roadmap
        </div>
        <div class="container margin-bottom">
            - Divide emoji index bundle in two bundles: one with skin tones and the other without.
        </div>
        <div class="container margin-bottom">
            - Feature: option for user to choose send method (Enter or Shift + Enter)
        </div>
        <div class="container margin-bottom">
            - Show a loading icon while IMG tags are loading in Emoji picker
        </div>
        <div class="container margin-bottom">
            - Validator for emojiData and emojiGroups structures; and for twemojiPath prop
        </div>
        <div class="container margin-bottom">
            - Component size optimization
        </div>
        <div class="container margin-bottom">
            - Support for React, Angular, Ember
        </div>

        <div class="margin-bottom text-center container">
            Any suggestion or bug please report at <a href="https://github.com/kevinfaguiar/cool-emoji-picker/issues">Issues</a>
        </div>
    </div>
</div>
