
<div class="cooltextarea-outer" :class="'bg-' + componentColor">
  
  <coolpicker 
    :pickerWidth="pickerWidth"
    :pickerMaxHeight="pickerMaxHeight"
    :appendToBody="appendToBody"
    :triggerType="triggerType"
    :emojiData="emojiData" 
    :emojiGroups="emojiGroups" 
    :skinsSelection="skinsSelection"
    :recentEmojisFeat="recentEmojisFeat"
    :recentEmojisStorage="recentEmojisStorage"
    :recentEmojiStorageName="recentEmojiStorageName"
    :recentEmojiLimit="recentEmojiLimit"
    :searchEmojisFeat="searchEmojisFeat"
    :searchEmojiPlaceholder="searchEmojiPlaceholder"
    :searchEmojiNotFound="searchEmojiNotFound"
    :twemojiPath="twemojiPath"
    :twemojiExtension="twemojiExtension"
    :twemojiFolder="twemojiFolder"
    :disabled="disableEmojiPicker"
    @addTextBlur="addTextBlur"
    @emojiUnicodeAdded="emojiUnicodeAdded"
    @emojiImgAdded="emojiImgAdded"></coolpicker>

  <div ref="coolTextarea"
    id="cool-text-area"
    class="cooltextarea" 
    :contenteditable="disabled ? false : true" 
    @input="updateContent"
    @paste="onPaste"
    @keydown.enter="enterKey"
    @keydown.shift.enter="shiftEnterKey"
    @mouseup="saveSelection" 
    @keyup="saveSelection" 
    @focus="restoreSelection">
  </div>

  <div id="send-btn" @click="emitEnterKeyEvent" v-if="enableSendBtn">
    <send-icon-img />
  </div>
</div>
