/* Global */
.cooltextarea:focus {
  outline: none !important;
}

#send-btn {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cooltextarea-outer {
  display: flex;
  flex-flow: row wrap;
  border-radius: 25px;
}

img.emoji {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: -0.5rem;
}

/* Textarea */
.cooltextarea {
  flex-grow: 95;
  flex-basis: 0;
  background-color: #fafafa;
  font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
  white-space: pre-wrap;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  text-align: left;
}

#send-btn {
  cursor: pointer;
  flex-grow: 5;
  flex-basis: 0;
  height: 40px;
  border-radius: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  padding: 5px;
}

#send-btn > img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Component Colors */
.bg-cream {
  background-color: #ece7e7 !important;
}

.btn-cream {
  background-color: #ece7e7 !important;
}

.btn-cream:hover {
  background-color: #ded3d3 !important;
}

.bg-cherry {
  background-color: #dd7e91 !important;
}

.btn-cherry {
  background-color: #dd7e91 !important;
}

.btn-cherry:hover {
  background-color: #d45e76 !important;
}

.bg-forest {
  background-color: #84caaf !important;
}

.btn-forest {
  background-color: #84caaf !important;
}

.btn-forest:hover {
  background-color: #5eba97 !important;
}

.bg-ocean {
  background-color: #93b8e9 !important;
}

.btn-ocean {
  background-color: #93b8e9 !important;
}

.btn-ocean:hover {
  background-color: #6b9ee1 !important;
}

.bg-sun {
  background-color: #d6dfb0 !important;
}

.btn-sun {
  background-color: #d6dfb0 !important;
}

.btn-sun:hover {
  background-color: #c7d392 !important;
}
