/* Global */
#popper-emoji {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#btn-emoji:focus, 
.tone:focus,
#emoji-popover-search > #search-header > input,
#emoji-popover-search > #search-header > button {
  outline: none !important;
}

#btn-emoji,
.emoji-list,
#tones {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img.emoji {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: -0.5rem;
}

/* Parent Emoji Popover */
#emoji-popover-header {
  padding: 5px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

#emoji-popover-header::-webkit-scrollbar {
  display: none;
}

#emoji-popover-inner {
  border-top: #bdbcbc solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Inside Emoji Pack */
.emoji-tab {
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 8px;
  cursor: pointer;
  border-top: 3px solid #e6e6e6;
  border-left: 3px solid #e6e6e6;
  border-right: 3px solid #e6e6e6;
}

.emoji-tab:hover {
  background-color: #bdbcbc;
  border-color: #bdbcbc;
}

.emoji-tab.active {
  background-color: #bdbcbc;
  border-color: #bdbcbc;
}

.emoji-list {
  padding: 10px;
  margin: 0px;
  text-align: justify;
}

.emoji-list > span {
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
}

.emoji-list > span > img {
  margin: 5px;
}

.emoji-list > span:hover {
  background-color: #cacaca;
}

/* Popper Emoji */
#popper-emoji {
  flex-grow: 5;
  flex-basis: 0;
  display: flex;
  flex-flow: row wrap;
}

#btn-emoji {
  flex-grow: 100;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 25px;
  margin: 10px;
  background-color: transparent;
}

#btn-emoji > div > img.emoji {
  height: 25px;
  width: 25px;
}

/* Emoji Tones */
#tones {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  text-align: center;
  border-top: #bdbcbc solid 1px;
}

.tone {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.tone:hover {
  opacity: 0.5;
}

.no-tone {
  background-color: #FFCC4D;
}

.light-skin-tone {
  background-color: #F7DECE;
}

.medium-light-skin-tone {
  background-color: #F3D2A2;
}

.medium-skin-tone {
  background-color: #D5AB88;
}

.medium-dark-skin-tone {
  background-color: #AF7E57;
}

.dark-skin-tone {
  background-color: #7C533E;
}

/* Scrollbar */
.scroll-clean::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.scroll-clean::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}

.scroll-clean::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.scroll-clean::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Search Bar */
#emoji-popover-search {
  background-color: #e6e6e6;
  border-radius: 3px;
  margin-bottom: 5px;
}

#emoji-popover-search > #search-header {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
}

#emoji-popover-search > #search-header > input {
  flex-grow: 90;
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fafafa;
}

#emoji-popover-search > #search-header > span {
  flex-grow: 10;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

/** Grab Cursor */
.grab-bing {
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
}
 
 
.grab-bing:active {
  cursor : -webkit-grabbing;
  cursor : -moz-grabbing;
  cursor : -o-grabbing;
  cursor : grabbing;
}
