<popper id="popper-emoji" trigger="click" :options="{placement: 'top'}">
  <div class="popper" id="emoji-popup">
      <div id="emoji-popover-inner" class="scroll-clean">
        <div v-if="recentEmojisFeat && recentEmojis.length !== 0">
          <p class="emoji-list-header">
            <span>⏱️</span>
          </p>
          <p class="emoji-list">
            <span
              v-for="emoji in recentEmojis" 
              :key="emoji.unicode" 
              v-html="emoji.img"
              @click="clickEmoji(emoji.unicode)">
            </span>
          </p>
        </div>        
        <div v-for="(emojiGroup, index) in emojiPack" 
          :key="emojiGroup.group" 
          :id="emojiGroup.group" 
          v-observe-visibility="visibilityChanged">
          <p class="emoji-list-header">
            <span v-html="getEmojiGroupDescription(emojiGroup.group)"></span>
          </p>
          <p class="emoji-list">
            <span
              v-for="emoji in emojiPack[index].emojiList" 
              :key="emojiGroup.unicode" 
              v-html="emoji.img"
              @click="clickEmoji(emoji)">
            </span>
          </p>
        </div>
      </div>
      <p id="tones" v-if="skinToneSelection">
        <button class="tone no-tone" @click="setSkinTone(0)"></button>
        <button class="tone light-skin-tone" @click="setSkinTone(1)"></button>
        <button class="tone medium-light-skin-tone" @click="setSkinTone(2)"></button>
        <button class="tone medium-skin-tone" @click="setSkinTone(3)"></button>
        <button class="tone medium-dark-skin-tone" @click="setSkinTone(4)"></button>
        <button class="tone dark-skin-tone" @click="setSkinTone(5)"></button>
      </p>
  </div>
    
  <button id="btn-emoji" 
    @mouseenter="onMouseEnterEmojiBtn()" 
    @mouseleave="onMouseLeaveEmojiBtn()" 
    slot="reference"
    :class="btnEmojiClasses">
    <div v-html="randomEmojiImg"></div>
  </button>
</popper>
